.password-reset-left_form
  = image_tag "energy_cost_simulator.png", width: "300px" 
  .password-reset-left_form_top-title
    パスワードのリセット
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:"resst_form" }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .reset_form_field
        = f.label :Eメール, class: "reset_form_field_label"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "reset_form_field_input"
      .reset_form_actions
        = f.submit "パスワードリセットメールを送信", class: "reset_form_actions_button"
    = render "devise/shared/links"
